<main >
    <!-- SEÇÃO DO BANNER -->
    <section class="w-100 banner d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="text-white font-900">USTART</h1>
            <h1 class="text-white font-900">2022</h1>
        </div>
    </section>
    <!-- SESSÃO DOS EVENTOS -->
    <div class="row w-100 d-flex justify-content-center pt-3 pb-3 ">
        <h1 class="titulo text-center">EVENTOS</h1>
    </div>
    <section class="container container-eventos pt-5">
        <div class="row">
            <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent">
                <div class="card-body ">
                    <img class="img-evento" src="resources/imagens/logo_umentor.jpg" alt="Evento 01">
                    <h3>
                        Ustart 2022
                    </h3>
                    <p>A Universidade de Passo Fundo (UPF) deu início, no último sábado, 22 de outubro, à segunda turma do Programa UStart, uma parceria entre a UPF e as empresas Elevor Softwares e Umentor. Realizado por meio do projeto de extensão Fábrica Experimental de Desenvolvimento e Teste de Software, 
                        esta edição do projeto selecionou 50 estudantes que participarão de uma formação gratuita de desenvolvimento de softwares. </p>
                    
                    <div class="d-flex w-100 justify-content-end mt-2">
                        <a href="" class="btn btn-secondary me-2">Detalhes</a>
                        <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent">
                <div class="card-body ">
                    <img class="img-evento" src="resources/imagens/evento_2.jpg" alt="Evento 02">
                    <h3>
                        Conexão RH
                    </h3>
                    <p>O Conexão RH é um evento da Umentor que tem como objetivo compartilhar inovações e provocar reflexões sobre os temas mais atuais da gestão de pessoas.
                        O impacto do cuidado com as pessoas nas organizações terá destaque em palestras com temas como: liderança, inovação e ferramentas digitais, gestão de desempenho, employer branding, 
                        jornada do colaborador e diversidade e inclusão.</p>
                    <div class="d-flex w-100 justify-content-end mt-2">
                        <a href="" class="btn btn-secondary me-2">Detalhes</a>
                        <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent">
                <div class="card-body ">
                    <img class="img-evento" src="resources/imagens/eventophp.png" alt="Evento 01">
                    <h3>
                        PHP Conference 2022
                    </h3>
                    <p>A PHP Conference Brasil 2022 está confirmada! Será a 16a edição do evento, que se consagra como o Principal evento de PHP da América Latina
                        Tendo alcançado durante seus 15 anos de realização, mais de 7.500 participantes, mais de 550 palestras e mais de 650 horas de conteúdo.</p>
                    <div class="d-flex w-100 justify-content-end mt-2">
                        <a href="https://phpconference.com.br" class="btn btn-secondary me-2">Detalhes</a>
                        <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent">
                <div class="card-body ">
                    <img class="img-evento" src="resources/imagens/evento5.jpg" alt="Evento 01">
                    <h3>
                        Semana Front-End
                    </h3>
                    <p>Um evento presencial para falarmos sobre assuntos de Front-end em geral, trazer problemas, soluções, ou qualquer outra forma que seja bacana de compartilhar conhecimento!</p>
                    <br>
                    <div class="d-flex w-100 justify-content-end mt-2">
                        <a href="" class="btn btn-secondary me-2">Detalhes</a>
                        <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 banner-2 align-items-center">
    </section>
</main>